/* Card Cycle */
.default-cards-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.card-holder {
    width: 20%;
    height: 250px;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    margin: 20px;
    perspective: 1000px;
}

.card-holder .hover-message-holder {
    position: absolute;
    bottom: 10px;
    right: -20px;
    visibility: hidden;
}

.card-holder:hover .hover-message-holder{
    width: 100px;
    height: 30px;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    border-radius: 20px;
}

.card.is-flipped {
    transform: rotateY( 180deg );
}


.card-face {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
    border-radius: 20px;
}

.card-face-back {
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    transform: rotateY( 180deg );
}

.img-card {
    border-radius: 20px;
    width: 100%;
    max-height: 100%;
}

/* Timeline Cycle */
.timeline-holder {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline-holder::after {
    content: '';
    position: absolute;
    width: 10px;
    background-color: #A7BD8B;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: fit-content;
    box-sizing: border-box;
}

.left {
    left: 10%;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #A7BD8B;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #A7BD8B transparent transparent;
}

.right::after {
    left: -16px;
}

.section-holder {
    width: 100%;
    padding: 20px 30px;
    border-style: solid;
    border-color: #A7BD8B;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
}

.section-hover-holder .hover-holder {
    position: absolute;
    top: 100px;
    left: 30px;
    visibility: hidden;
}

.section-hover-holder:hover .hover-holder{
    width: 100%;
    height: fit-content;
    border: 3px solid #A7BD8B;
    background-color: white;
    z-index: 9;
    visibility: visible;
}

.holder .hover-cover {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.holder:hover .hover-cover {
    width: 100%;
    height: 100%;
    background: #C4C4C4;
    opacity: 0.5;
    visibility: visible;
}

.hover-image-holder {
    text-align: center;
}

.hover-image {
    width: 100%;
}

.hover-content-holder {
    margin: 10px;
}


.img-timeline {
    width: 100%;
}

.title-holder {
   text-align: center;
}

/* Frame Cycle */
.page-holder {
    width: fit-content;
    height: fit-content;
    max-height: 1000px;

    display: flex;
    flex-direction: row;
}

.column-holder {
    width: fit-content;
    height: fit-content;
    margin-right: 6px;
}

.frame-holder {
    width: 250px;
    height: 300px;
    perspective: 1000px;
    box-shadow: 5px 5px grey;
    margin-bottom: 6px;

}

.frame-holder .hover-message-holder {
    position: absolute;
    top: 5px;
    right: 10px;
    visibility: hidden;
}

.frame-holder:hover .hover-message-holder{
    width: 100px;
    height: 30px;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.frame {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.frame.is-flipped {
    transform: rotateY( 180deg );
}

.frame-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.frame-face-back {
    transform: rotateY( 180deg );
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-holder-frame {
    width: 100%;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-frame {

    width: 100%;
    height: 100%;
}

.content-holder {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.title-frame {
    color: white;
}
  
/* Cube Cycle */
.cube-holder {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 1px solid #CCC;
  margin: 80px auto;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube-face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.face-label-holder {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube-hover-holder .hover-holder {
    position: absolute;
    top: 0;
    left: 250px;
    visibility: hidden;
}

.cube-hover-holder:hover .hover-holder{
    width: 100%;
    height: fit-content;
    border: 3px solid black;
    background-color: white;
    z-index: 9;
    visibility: visible;
}

.img-face {
    width: 100%;
    height: 100%;
    
}

/* Carousel Cycle */
.carousel-holder {
    box-sizing: border-box;
    margin: 40px 0;
    position: relative;
    width: 210px;
    height: 160px;
    margin: 40px auto;
    perspective: 1000px;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-sizing: border-box;
  }
  
  .carousel-cell {
    position: absolute;
    width: 190px;
    height: 140px;
    left: 10px;
    top: 10px;
    border-width: 2px ;
    border-style: solid;
    box-sizing: border-box;
  }
  
  .carousel-cell .hover-message-holder {
      position: absolute;
      bottom: 3px;
      right: -20px;
      visibility: hidden;
  }
  
  .carousel-cell:hover .hover-message-holder{
      width: 100px;
      height: 30px;
      background: #C4C4C4;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: visible;
  }
  
  .cell {
      width: 100%;
      height: 100%;
      position: relative;
      transition: transform 1s;
      transform-style: preserve-3d;
      cursor: pointer;
  }
  
  .cell.is-flipped {
      transform: rotateX( 180deg );
  }
    
  .cell-face {
      display: flex;
      justify-content: center;
      align-items: center;
  
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      text-align: center;
      -webkit-backface-visibility: hidden;
  }
  
  .cell-face-back {
      display: flex;
      justify-content: center;
      align-items: center;
  
      border-width: 1px ;
      border-style: solid;
      transform: rotateX(-180deg);
  }
  
  .img-cell {
      width: 100%;
      height: 100%;
  }
  
  .number-cell {
      color: white;
      font-size: 70px;
  }




  




