/* Style for Header and Title */
body {
    margin: 0;
}

.header {
    overflow: hidden;
    background: #383333;
    position: fixed;
    top: 0;
    width: 100%;
    color: #e6e1e1;
    z-index: 9999;
}

.header h2{
   margin-left: 5%;
   font-size: 30px;
}

.main {
    padding: 16px;
    margin-top: 100px;
    margin-left: 4%;
    margin-right: 4%;
}

.main-title{
    font-size: 50px;
    color: #383333;
}

/* Style for Examples */
.examples {
    margin-top: 70px;
}

.examples h2 {
    font-size: 30px;
}

.example-holder {
    border: 2px solid #383333;
}

.frame-example-holder {
    width: fit-content;
}

#frameCycle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#frameCycle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.codes-holder {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    background-color: #f5f2f0;
}

.code-holder {
    border: 1px solid white;
}

.html-holder {
    width: 33%;
}

.css-holder {
    width: 27%;
}

.js-holder {
    width: 40%;
}

.code-title{
    text-align: center;
    background-color: #b8b5b2;
    color: white;
}

.code-content {
    margin: 20px;
}

.button-holder {
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 10px;
}

button {
    border-radius: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: #646464;
}

.button:hover {
    background: #383333;
}

button:active {
    box-shadow: inset 0px 0px 5px #e6e1e1;
    outline: none;
}

.tree-button {
    background-color: #A7BD8B;
}

.tree-button:hover {
    background: #82a05b;
}

.baby-button {
    background: #FCBFA4;
}

.baby-button:hover {
    background: #D76255;
}

.story-button {
    background: #EBA66B;
}

.story-button:hover {
    background: #AA5F41;
}

.schedule-button {
    background: #F1E0B6;
}

.schedule-button:hover {
    background: #e0c788;
}

.copyright {
    color: grey;
    text-align: center;
    margin-bottom: 5px;
}
